$primary-color-dark: #455a64;
$primary-color-light: #fbfbfb;
$primary-text-color: var(--ricos-text-color, #212121);
$primary-text-color-tuple: var(--ricos-text-color-tuple, (33,33,33));
$primary-text-color-light: #e6e6e6;
$secondary-text-color: #757575;

$action-color: var(--ricos-action-color, #0261ff);
$action-color-tuple: var(--ricos-action-color-tuple, (2,97,255));
$action-color-fallback: var(--ricos-action-color-fallback, #0261ff);
$action-color-fallback-tuple: var(--ricos-action-color-fallback-tuple, (2,97,255));
$action-color-fallback-bright: #ffffff;
$action-color-fallback-bright-tuple: 255,255,255;               // #ffffff
$background-color: var(--ricos-background-color);
$background-color-tuple: var(--ricos-background-color-tuple);

$modal-input-color: #333333;
$toolbar-font-color: #333333;
$toolbar-border-color: #ededed;
$fallbackColor: #000000;
$fallbackColorBright: #ffffff;
