.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    .resizeHandleL {
        grid-area: 1 / 1;
    }

    .image {
        grid-area: 1 / 2;
    }

    .resizeHandleR {
        grid-area: 1 / 3;
    }
}




// /*!rtl:ignore*/
// [data-focus='true'].resizeHandleR::before {
//     position: absolute;
//     right: -8px;
//     content: '';
// }

// /*!rtl:ignore*/
// [data-focus='true'].resizeHandleL::after {
//     position: absolute;
//     left: -8px;
//     content: '';
// }


  