%resizeableHandle {
  content: " ";
  border-radius: 50%;
  width: 5px;
  height: 5px;
  z-index: 1;
  background: #fff;
  border: 3px solid #0261ff;
  position: absolute;
}

[data-focus="true"] {
  .resizeHandleR {
    &::before {
      @extend %resizeableHandle;
      right: -6px;
      top: -6px;
    }
    &::after {
      @extend %resizeableHandle;
      right: -6px;
      bottom: -6px;
    }
  }
  .resizeHandleL {
    &::before {
      @extend %resizeableHandle;
      left: -6px;
      top: -6px;
    }
    &::after {
      @extend %resizeableHandle;
      left: -6px;
      bottom: -6px;
    }
  }
}
