@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.pluginContainerMobile {
  max-width: 100%;
}

.wrapper {
  box-sizing: border-box;

  @extend .fontElementMap;
  position: relative;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &.desktop {
    .editor {
      :global(.DraftEditor-root) {
        &::after {
          content: '';
          display: table;
          clear: both;
        }
      }

      :global(.public-DraftEditorPlaceholder-root) {
        margin: 0;
      }
    }
  }

  .editor {
    box-sizing: border-box;
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    input {
      box-sizing: border-box;
    }
  }

  &.android {
    padding-top: 50px;
  }
}

.editor {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: $primary-text-color;
  white-space: pre-wrap !important;
  overflow-wrap: break-word;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.atomic {
  margin: 2px 0;
}

.toolbar {
  margin-top: 20px;
}

.underline {
  text-decoration: underline;

  & * {
    text-decoration: underline;
  }
}

.block {
  & + & {
    margin-top: 20px;
  }
}

.elementSpacing {
  margin: 0;

  @include phone {
    margin: 0;
    clear: both;
  }
}

.blockStyleSpacing {
  margin: 15px 18px;

  @include phone {
    margin: 15px calc((18px + (100% - #{$textMobileWidth}) / 2));
  }
}

.text {
  composes: elementSpacing;

  &:empty {
    height: 24px;
  }
}

.justify {
  white-space: pre-wrap !important;
  text-align: justify !important;

  & > * {
    white-space: pre-wrap !important;
    text-align: justify !important;
  }
}

.quote {
  composes: blockStyleSpacing;
  border-left-width: 3px;
  border-left-style: solid;
  font-size: 18px;
  line-height: 26px;
  padding: 6px 0 6px 18px;
  font-style: normal;
}

.headerOne,
.headerTwo,
.headerThree {
  composes: elementSpacing;
  font: inherit;
}

.headerOne {
  font-size: 32px;
  line-height: $headerOneHeight;
  min-height: $headerOneHeight;
}

.headerTwo {
  font-size: 28px;
  line-height: $headerTwoHeight;
  min-height: $headerTwoHeight;
}

.headerThree {
  font-size: 22px;
  line-height: $headerThreeHeight;
  min-height: $headerThreeHeight;
}

.code,
.codeBlock {
  composes: blockStyleSpacing;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  line-height: 26px;
  padding: 2px 25px;
  white-space: pre-wrap;
}

.normalText {
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  display: contents;
}

.anchor {
  text-decoration: none;
}

.embed {
  width: max-content;
  border: none;
}
