@import '~wix-rich-content-common/dist/statics/styles/general.rtlignore';

/*! rtl:ignore */
.left {
  /*!rtl:ignore*/
  text-align: left !important;

  & > * {
    /*!rtl:ignore*/
    text-align: left !important;
  }
}

.center {
  text-align: center !important;

  & > * {
    text-align: center !important;
  }
}

/*! rtl:ignore */
.right {
  /*!rtl:ignore*/
  text-align: right !important;

  & > * {
    /*!rtl:ignore*/
    text-align: right !important;
  }
}
