@import './palette.scss';
@import './mixins.scss';

.colorPicker_container {
  position: relative;
  padding-bottom: 19px;
  @include phone {
    padding-bottom: 3px;
  }
}

.colorPicker_overlay {
  position: absolute;
  top: -1px;
  right: -1px;
  border-radius: 28px;
  z-index: -1;
  width: 38px;
  height: 38px;
  background: #0261ff;
  @include phone {
    width: 32px;
    height: 32px;
  }
}

.colorPicker {
  height: 36px;
  width: 100%;
  position: relative;
  @include phone {
    padding-bottom: 8px;
    height: 30px;
  }
}

.colorPicker_label {
  position: absolute;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  top: calc(50% - 11px);
  left: 0px;
  @include phone{
    top: calc(50% - 12px);
  }
}

.colorPicker_picker {
  width: 50%;
  height: auto;
  direction: rtl;
  display: inline-block;
}

.colorPicker_picked {
  position: absolute;
  right: -2px;
  top: 1px;
  @include phone {
    right: -2px;
    top: -4px;
  }
}

.colorPicker_dropper {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

$color1: #fff;
$color2: #eeeeee;
$size: 10px;
%palette {
  background-image: linear-gradient(
      45deg,
      $color1 25%,
      transparent 25%,
      transparent 75%,
      $color1 75%
    ),
    linear-gradient(45deg, $color1 25%, $color2 25%, $color2 75%, $color1 75%);
  background-size: $size $size;
  background-position: 0 0, $size/2 $size/2;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 28px;
  display: inline-block;
  border: solid 1px #ededed;
  margin-right: 18px;
  cursor: pointer;
  @include phone {
    width: 30px;
    height: 30px;
    margin-left: 0px;
    box-sizing: border-box;
  }
}

.colorPicker_non_dropper_palette {
  @extend %palette;
  @include phone{
    margin-right: calc((100% - 200px) / 7);
  }
}


.colorPicker_dropper_palette {
  @extend %palette;
  margin-right: 0px;
}

.colorPicker_palettes {
  width: 100%;
  text-align: right;
  height: 36px;
  padding-top: 20px;
  @include phone {
    height: 30px;
    padding-bottom: 9px;
    padding-top: 26px;
  }
}

.colorPicker_pickerButton {
  width: 36px;
  height: 36px;
  border-radius: 28px;
  border: 1px solid #b2c1ce;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  @include phone {
    width: 30px;
    height: 30px;
  }
}

.colorPicker_swatchesPicker {
  position: absolute;
  top: 30;
  right: 30;
  z-index: 11;
}

.colorPicker_colorBoard {

}
