@import '~wix-rich-content-common/dist/statics/styles/palette';

.inputWithLabel_label {
  display: block;
  font-size: 14px;
  margin-bottom: 9px;
}
.inputWithLabel_capacity {
  display: block;
  font-size: 14px;
  margin: 9px;
}

.inputWithLabel_input {
  width: 100%;
  height: 42px;
  padding: 0 17px;
  border: 1px solid #ededed;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;

  &::placeholder {
    opacity: 0.4;
  }
}

.inputWithLabel_textArea {
  height: 101px;
  resize: none;
  padding: 9px 17px;
}

.inputWithLabel_fullHeight {
  height: 100%;
}

.infoIcon {
  vertical-align: text-bottom;
  height: 17px;
  &:hover {
    color: $action-color-fallback;
  }
}
