@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/consts';

.pluginToolbarButton_wrapper {
  display: inline-block;
  padding: 10px 0;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }

  &:hover .pluginToolbarButton:not(.pluginToolbarButton_disabled):not(.pluginToolbarButton_active) {
    background-color: rgba($action-color-fallback-tuple, 0.05);
    @include fillWithActionColor();
  }

  .pluginToolbarButton_active {
    background-color: rgba($action-color-fallback-tuple, 0.1);
  }
}

.pluginToolbarButton {
  display: inline-block;
  background: transparent;
  color: $toolbar-font-color;
  padding: 5px;
  border: none;
  cursor: pointer;
  line-height: normal;
  margin: 0;
  white-space: nowrap;

  .pluginToolbarButton_icon {
    width: $icon-width;
    height: $icon-width;
    line-height: 0;

    svg {
      width: 100%;
      height: 100%;
    }

    @include svg-fill;
  }

  &:not(.pluginToolbarButton_disabled) {
    &:hover,
    &:focus,
    &:focus svg,
    &.pluginToolbarButton_active {
      color: $action-color-fallback;
      @include svg-fill;
      @include fillWithActionColor();
    }
    &:hover >:not($Dropdown-root) svg {
      fill: $action-color-fallback;
    }
  }

  &.pluginToolbarButton_disabled {
    cursor: default;
    opacity: 0.4;
  }
}
