@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.settingsPanel_footer {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 24px 24px;
  border-top: solid 1px #ededed;
  width: 100%;
  max-width: 419px;
  height: 88px;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
  &.modal {
    justify-content: center;
    border-top: none;
    height: max-content;
    padding: 0;
    @include phone {
      display: grid;
      grid-template-areas: 'save' 'cancel';
      grid-row-gap: 9px;
      grid-auto-columns: 100%;
    }
  }
  &.flexEndModalButtons {
    justify-content: flex-end;
    max-width: 100%;
  }
}

.settingsPanel_footer_fixed {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

%modal_button {
  min-width: 132px;
  height: 40px;
  @include phone {
    max-width: none;
    font-size: 16px;
    width: 100%;
    height: 46px;
    margin-left: 0px !important;
  }
}

%panel_button {
  padding: 8.5px 24px;
  min-width: 109px;
  max-width: 115px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
}

.settingsPanel_save {
  @extend %panel_button;
  &.modal {
  @extend %modal_button;
    margin-left: 12px !important;
    @include phone {
      grid-area: save;
      margin-left: 0px !important;
    }
  }
  &.flexEndModalButtons {
    height: 36px;
  }
}

.settingsPanel_cancel + .settingsPanel_save {
  margin-left: 24px;
}

.settingsPanel_cancel {
  @extend %panel_button;
  border-style: solid;
  &.modal {
    @extend %modal_button;
    @include phone {
      grid-area: cancel;
      border: none;
      padding-top: 9px;
    }
  }
  &.flexEndModalButtons {
    height: 36px;
  }

  &:hover {
    background: #fff;
    color: #4990e2;
  }
}
