.divider-container {
  box-sizing: border-box;
  width: 100%;
  height: 29px;
  padding-top: 14px;

  &--double {
    padding-top: 11px;
  }
}

.divider {
  box-sizing: border-box;
  display: block;
  stroke: currentColor;
  stroke-width: 1;
  shape-rendering: crispEdges;

  &--single,
  &--double,
  &--dashed,
  &--dotted {
    height: 100%;
  }

  &--dashed {
    stroke-dasharray: 4 4;
  }

  &--dotted {
    stroke-dasharray: 1 5;
  }

  &--small,
  &--small--mobile {
    width: 74px;
  }

  &--medium,
  &--large--mobile {
    width: 284px;
  }

  &--medium--mobile {
    width: 142px;
  }

  &--large {
    width: 740px;
  }

  &--left {
    margin-right: auto;
  }

  &--center {
    margin: 0 auto;
  }

  &--right {
    margin-left: auto;
  }
}

.divider-dropdown {
  &__control {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 38px;
    padding: 0 30px 0 0 !important;
  }

  &__option {
    box-sizing: border-box;
    width: 60px;
    height: 18px;
    padding-top: 7px;
    overflow: hidden;
  }

  &__divider {
    stroke: currentColor !important;
  }
}
