@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

// TODO: add soundCloud_urlInput_ prefix to all the classes
.container {
  padding: 80px 120px;
  @include phone {
    padding: 24px 18px 30px;
  }
}

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: black;
}

.cameraIcon {
  width: 18px;
}

.errorIcon {
  width: 13px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.header_text {
  height: 28px;
  font-size: 20px;
  text-align: center;
}

.header_icon {
  margin-right: 12px;
}

.soundCloudUrlInputModal_textInput {
  margin-top: 36px;
  margin-bottom: 42px;
}

.modal_footer {
  justify-content: center;
  border: none !important;
  padding: 0 !important;
  height: 40px !important;
}

.textInput_input {
  padding: 9px 21px 10px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textInput_input_invalid {
  padding-right: 39px;
}

.settingsPanel_save,
.settingsPanel_cancel {
  width: 132px;
  height: 40px;
}

.settingsPanel_save {
  background-color: black;
  margin-left: 12px !important;
  @include phone {
    padding: 9px 15px 10px 15px;
  }
}
.settingsPanel_cancel {
  color: black;
  border-color: black;
  &:hover {
    color: black;
  }
  @include phone {
    padding: 9px 15px 10px 15px;
  }
}
