@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

// TODO: add soundCloud_urlInput_ prefix to all the classes
.container {
  padding: 80px 120px;
  @include phone {
    padding: 160px 33px;
  }
}

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: black;
}

.cameraIcon {
  width: 18px;
}

.errorIcon {
  width: 13px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
}

.header_text {
  height: 28px;
  font-size: 20px;
  text-align: center;
}

.header_icon {
  margin-right: 12px;
}

.soundCloudUrlInputModal_textInput {
  margin-top: 36px;
  margin-bottom: 42px;
  @include phone {
    margin-top: 32px;
    margin-bottom: 33px;
  }
}

.modal_footer {
  justify-content: center;
  border: none !important;
  padding: 0 !important;
  height: 40px !important;
  @include phone {
    display: grid;
    grid-template-areas: 'save' 'cancel';
    grid-row-gap: 9px;
    grid-auto-columns: 100%;
  }
}

.textInput_input {
  padding: 9px 21px 10px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textInput_input_invalid {
  padding-right: 39px;
}

.settingsPanel_save,
.settingsPanel_cancel {
  width: 132px;
  height: 40px;
  @include phone {
    font-size: 16px;
    width: 100%;
    height: 46px;
    margin-left: 0px !important;
  }
}

.settingsPanel_save {
  background-color: black;
  margin-left: 12px !important;
  @include phone {
    grid-area: save;
    margin-left: 0px !important;
  }
}
.settingsPanel_cancel {
  color: black;
  border-color: black;
  &:hover {
    color: black;
  }
  @include phone {
    grid-area: cancel;
    border: none;
  }
}
