/* Toolbar */
.inlineToolbar {
  box-shadow: 0px 1px 5px 0px rgba(220,220,220,0.4);
}

.inlineToolbar_buttons {
}

.inlineToolbar_extend {
}

.inlineToolbar_overrideContent {
}

.inlineToolbar_responsiveArrow {
}

.inlineToolbar_responsiveArrowLeft {
}

.inlineToolbar_responsiveArrowRight {
}

/* Button */
.inlineToolbarButton_wrapper {
}

.inlineToolbarButton {
}

.inlineToolbarButton_wrapper:hover .inlineToolbarButton_icon {
  color: cyan;
}

.inlineToolbarButton_active {
}

.inlineToolbarSeparator {
  background-color: chartreuse;
}

/* Dropdown */
.inlineToolbarDropdown_wrapper {
}

.inlineToolbarDropdown_options {
}

.inlineToolbarDropdownButton_wrapper {
}

.inlineToolbarDropdownButton {
}

.inlineToolbarDropdownButton_icon {
}
