.DS_Store
package-lock.json
dist
node_modules
*npm-debug.log
lerna-debug.log
target
maven
stats.html

#Webstorm
**/.idea/*

#VSCode
**/.project
**/.settings/*
*.code-workspace
**/.vscode/**

.history/**
*.todo
