.DS_Store
dist
node_modules
*npm-debug.log
lerna-debug.log
yarn-error.log
yarn.lock
*/**/package-lock.json
target
maven
stats.html
.env
applitools.private.config.js

#Webstorm
**/.idea/*
*.iml

#VSCode
**/.project
**/.settings/*
*.code-workspace

.history/**
*.todo

#Tests
**/*.diff.png
**/*.actual.png
e2e/cypress/fixtures
e2e/cypress/videos
e2e/cypress/screenshots
e2e/cypress/snapshots/All\sSpecs
e2e/test-env/report.*.json
tags
applitools.config.js

# docs
**/.docusaurus
**/docs/build/