.seeFullPost_overlay {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.seeFullPost_label {
  font-weight: bold;
}
