@import '~wix-rich-content-common/dist/statics/styles/palette';
.seeFullPost_container {
  position: relative;
}

.seeFullPost_overlay {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.seeFullPost_label {
  margin-top: 5px;
  color: $accent-color;
}
