@import './divider-viewer.rtlignore';

.divider-dropdown {
  &__control {
    display: flex;
    align-items: center;
    height: 38px;
    padding: 0 30px 0 0 !important;
  }

  &__option {
    max-width: 60px;
    width: 60px;
    height: 18px;
    padding-top: 7px;
    overflow: hidden;
  }

  &__divider {
    stroke: currentColor !important;
  }
}
