@import "../../../common/src/Styles/consts.scss";

.footerToolbar {
  height: $footer-toolbar-height;
  padding: 11px 0;
}

.footerToolbar_buttons {
  height: 100%;
  padding: 0;
  overflow: initial;
}

.footerToolbar_scrollableContainer {
  overflow: initial;
}
