@import '../../../common/src/Styles/palette';
@import '../../../common/src/Styles/mixins';
$borderRadius: 6px;
.inlineToolbar {
  min-height: 50px;
  left: 50%;
  transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid $toolbar-border-color;
  background: #fff;
  border-radius: $borderRadius;
  z-index: 4;
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 19px;
  direction: ltr;
}

.inlineToolbar_buttons {
  display: flex;
  height: 48px;
}

.inlineToolbar_overrideContent {
  height: auto;
  padding: 0;
}

.inlineToolbar_responsiveArrow {
  margin-right: -19px;
  flex: 0 0 40px;
  height: 100%;
  background: transparent;
  cursor: pointer;
  border: none;
  border-left: 1px solid $toolbar-border-color;
  >i {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid $toolbar-font-color;
    border-width: 0 0 1px 1px;
  }
}

.inlineToolbar_responsiveArrowLeft_icon {
  margin-right: -3px;
  transform: rotate(45deg);
}

.inlineToolbar_responsiveArrowRight_icon {
  margin-right: 3px;
  transform: rotate(225deg);
}

.inlineToolbar_scrollableContainer {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding: 90px 0;
  margin: -90px 0;
  pointer-events: none;
  & > * {
      pointer-events: initial;
  }
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: auto;
  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

.inlineToolbar_extend {
  border-top: 1px solid $toolbar-border-color;
}

@include phone {
  .inlineToolbar_buttons {
    display: flex;
    width: auto;
    max-width: 100%;
    .inlineToolbar_responsiveSpacer {
      display: block;
    }
    .inlineToolbar_responsiveArrow {
      display: block;
    }
  }
}
