@import "../../../common/src/Styles/palette";
@import "../../../common/src/Styles/mixins";

.textToolbar {
    position: relative;
    border: 1px solid #ddd;
}

.textToolbar_buttons {
    display: flex;
    width: auto;
    height: 50px;
    padding: 0 9px;
    max-width: 100%;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: auto;

    &::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }
}

.textToolbar_responsiveSpacer {
    flex: 0 0 48px;
    height: 100%;
}

.textToolbar_responsiveArrow {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    line-height: 48px;
    text-align: center;
    background: white;
    font-size: 12px;
    cursor: pointer;
    z-index: 9999;
    border: none;

    @include phone {
        transform: translate3d(0,0,0);
    }
}

.textToolbar_responsiveArrowLeft,
.textToolbar_responsiveArrowRight {
    right: 0;
    border-left: 1px solid $toolbar-border-color;
}

.textToolbar_responsiveArrowLeft_icon {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid $toolbar-font-color;
    border-width: 0 0 1px 1px;
    margin-left: 3px;
    transform: rotate(45deg);
}

.textToolbar_responsiveArrowRight_icon {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid $toolbar-font-color;
    border-width: 0 0 1px 1px;
    margin-right: 3px;
    transform: rotate(225deg);
}

.textToolbar_extend {}
