@import "../../../common/src/Styles/palette";
@import "../../../common/src/Styles/mixins";

.textToolbar {
    position: relative;
    border: 1px solid #ddd;
}

.textToolbar_scrollableContainer {
    width: 100%;
}

.textToolbar_buttons {
}

.textToolbar_responsiveSpacer {
}

.textToolbar_responsiveArrow {
}

.textToolbar_responsiveArrowLeft,
.textToolbar_responsiveArrowRight {
}

.textToolbar_responsiveArrowLeft_icon {
}

.textToolbar_responsiveArrowRight_icon {
}

.textToolbar_extend {
}
