.inPluginInput {
    border: none;
    line-height: 21px;
    width: 100%;
    position: inherit;
    z-index: 1;
    font: inherit;
    font-size: 14px;
    cursor: text;

    &[readonly] {
        cursor: pointer;
    }
}

.inPluginInput_disable {
    background-color: rgba(0, 0, 0, .1);
    &:hover {
        cursor: pointer;
    }
}