@import "~wix-rich-content-common/dist/statics/styles/mixins";

.title {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.settingsContainer{
  padding: 24px 24px 20px;
}

.separator{
    margin: 20px 0 !important;
}

.direction_selector {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    margin: 25px 0;
  
    @include phone {
      grid-template-columns: repeat(3, 1fr);
    }
}

.direction_selector_option{
  p{
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  svg{
    padding-top: 10px;
  }

  svg,
  p {
    color: $action-color;
    fill: $action-color;
  }
}