@import '~wix-rich-content-common/dist/statics/styles/palette';

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.iconContainer {
    display: flex;
    background: transparent;
    border: none;
    padding-inline-start: 10px;
    padding-inline-end: 14px;
    cursor: pointer;
    &:hover{
      opacity: 0.7;
    }
    .rtl &{
      transform: scaleX(-1);
    }
}

.icon {
  transition: transform 0.15s linear;
  &.isExpanded{
    transform: rotate(90deg);
  }
  fill: $secondary-text-color;
  color: $secondary-text-color;
}