@import '~wix-rich-content-common/dist/statics/styles/palette';

.new_pair_container{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
    min-height: 48px;
    position: relative;
    &:hover{
        opacity: 0.7;
    }
}

.new_pair_button{
    display: flex;
    color: $action-color;
    padding-inline-start: 10px;
    svg {
        fill: $action-color;
        color: $action-color;
    }
}

.new_pair_label {
    padding-inline-start: 8px;
    font-family: Avenir;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    cursor: pointer;
}