/* stylelint-disable docusaurus/copyright-header */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
	--ifm-color-primary: #25c2a0;
	--ifm-color-primary-dark: rgb(33, 175, 144);
	--ifm-color-primary-darker: rgb(31, 165, 136);
	--ifm-color-primary-darkest: rgb(26, 136, 112);
	--ifm-color-primary-light: rgb(70, 203, 174);
	--ifm-color-primary-lighter: rgb(102, 212, 189);
	--ifm-color-primary-lightest: rgb(146, 224, 208);
	--ifm-container-width: 1400px;
	--ifm-font-size-base: 17px;
	--ifm-code-font-size: 93.75%;
	/* 15/16, one px smaller than the base font */
	--ifm-line-height-base: 1.75;
	/* Instead of 1.5 */
	--ifm-leading-desktop: 1.25;
	/* Instead of 1.5 */
	--ifm-list-margin: var(--ifm-leading);
	/* Keep consistent with the leading */
	--ifm-code-background: var(--ifm-color-emphasis-200);
	--ifm-global-border-width: 3px;
}

.docusaurus-highlight-code-line {
	background-color: rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
	background-color: rgba(125, 125, 125, 0.3);
}

.alert.alert--secondary {
	--ifm-alert-background-color: var(--ifm-color-secondary-dark);
}

.card {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
	background-color: white;
	margin-bottom: var(--ifm-leading);
	padding: var(--ifm-card-vertical-spacing) 47px;
	overflow: visible;
	h3 {
		// color: rgb(28, 30, 33);
	}
	* {
		box-sizing: unset;
	}
}

.ReactModalPortal h2, .ReactModalPortal h3 {
	box-sizing: unset;
	color: initial;
}

a code {
    color: var(--ifm-code-color);
}

/* .markdown {
	h1 {
		--ifm-h1-font-size: unset;
	}
	h2 {
		--ifm-h2-font-size: unset;
	}
	h3 {
		--ifm-h3-font-size: unset;
	}
	h4 {
		--ifm-h4-font-size: unset;
	}
	h5 {
		--ifm-h5-font-size: unset;
	}
	h6 {
		--ifm-h6-font-size: unset;
	}
} */