@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.socialEmbed_urlInput_container {
  padding: 80px 120px;
  @include phone {
    padding: 24px 18px 30px;
  }
}

.socialEmbed_urlInput_closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: black;
}

.socialEmbed_urlInput_header {
  display: flex;
  align-items: center;
  color: #333333;
}

.socialEmbed_urlInput_header_text {
  height: 28px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.socialEmbedUrlInputModal_textInput {
  margin-top: 36px;
  margin-bottom: 42px;
}

.socialEmbed_urlInput_modal_footer {
  justify-content: center;
  border: none !important;
  padding: 0 !important;
  height: 40px !important;
}

.settingsPanel_save,
.settingsPanel_cancel {
  width: 142px;
  height: 40px;
}

.settingsPanel_save {
  background-color: black;
  margin-left: 12px !important;
  @include phone {
    padding: 9px 15px 10px 15px;
  }
}
.settingsPanel_cancel {
  color: black;
  border-color: black;
  &:hover {
    color: black;
  }
  @include phone {
    padding: 9px 15px 10px 15px;
  }
}
