.linkPreview {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border: 1px solid #ededed;
  max-height: 170px;
  overflow: hidden;
  max-width: 740px;
}

.linkPreview_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: solid 1px #ededed;
  flex: 0 0 auto;
}

.linkPreview_info {
  padding: 20px 28px 20px 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.linkPreview_title {
  font-weight: bold;
  align-self: flex-start;
  font-size: 20px;
  line-height: 28px;
  padding: 8px 0px 12px 0px;
}

.linkPreview_description,
.linkPreview_url {
  font-size: 16px;
  line-height: 24px;
  align-self: flex-start;
}

.linkPreview_oEmbed {
  border: 0;
}
