@import '../../../common/src/Styles/mixins';
@import '../../../common/src/Styles/palette';

.container {
    padding: 50px 60px 60px;
    @include phone {
        padding: 24px 18px 30px;
    }
}

.closeIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 18px;
    cursor: pointer;
}

.cameraIcon {
    width: 18px;
}

.errorIcon {
    width: 13px;
}

.header {
    display: flex;
    align-items: center;
}

.header_text {
    font-size: 16px;
}

.header_icon {
    margin-right: 11px;
}

.textInput {
    margin: 18px 0 24px 0;
    position: relative;
}

.textInput_input {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    color: $modal-input-color;
    width: 100%;
    height: 42px;
    border: 1px solid;
    padding-left: 18px;
    box-sizing: border-box;
}

.textInput_input_invalid {
    border-color: red;
}

.errorIcon {
    position: absolute;
    right: 12px;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 13px;
}

.modal_footer {
    border: none !important;
    padding: 0 !important;
    height: 36px !important;
}
