/* Toolbar */
.pluginToolbar {
  box-shadow: 0px 1px 3px 0px rgba(220, 220, 220, 1);
}

.pluginToolbar_buttons {
}

.pluginToolbar_buttons_overrideContent {
}

.pluginToolbar_extend {
}

/* Button */
.pluginToolbarButton_active {
}

.pluginToolbarButton {
}

.pluginToolbarButton_wrapper {
}

.pluginToolbarButton_wrapper:hover .pluginToolbarButton_icon {
  color: fuchsia;
}

/* Separator */
.pluginToolbarSeparator {
  background-color: fuchsia;
}
