/* Wrapper */
.sideToolbarWrapper {
}

/* Toolbar */
.sideToolbar_floatingContainer {
}

.sideToolbar_floatingIcon {
}

.sideToolbar {
  box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
}

/* Button */
.sideToolbarButton_wrapper {
}

.sideToolbarButton {
}

.sideToolbarButton_wrapper:hover .sideToolbarButton_icon {
  svg {
    fill: white;
  }
}

.sideToolbarButton_label {
}
