@import "~wix-rich-content-common/dist/statics/styles/consts";

.footerToolbar {
  height: $footer-toolbar-height;
}

.footerToolbar_buttons {
  height: 100%;
  padding: 0;
  overflow: initial;
}

.footerToolbar_scrollableContainer {
  overflow: initial;
}
