@import "~wix-rich-content-common/dist/statics/styles/tooltip.scss";

.fixedTooltip {
  .tooltip {
    @extend %tooltip;
    &:hover::before {
      position: fixed;
      top: initial;
      left: initial;
    }

    &:hover::after {
      top: 11px;
      left: 10px;
    }
  }
}
