.section {
  margin: 0 -10px;
}

.layout_selector {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.option {
  padding: 8px 16px 1px;
}

.option:hover {
  background-color: rgba(2, 97, 255, 0.05);
}

.option.selected {
  background-color: rgba(2, 97, 255, 0.2);
  color: #000;
}