@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.giphy_selecter_container {
  width: 100%;
  padding-top: 8px;
  display: block;
}

.giphy_selecter_infinite_scroll_container {
  padding-top: 8px;
  height: 277px;
  overflow: auto;
  @include phone {
    height: calc(100vh - 132px);
  }
}

.giphy_selecter_infinite_scroll {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: 87px;
  grid-gap: 8px;
  @include phone {
    grid-auto-rows: 99px;
  }
}

.giphy_selecter_customize_scrollbar_container {
  height: 277px;
}

.giphy_selecter_headerInfiniteScroll {
  padding-right: 18px;
  padding-bottom: 6px;
}

.giphy_selecter_scrollbarThumb {
  background: #000000;
  border-radius: 4px;
  width: 4px;
  margin-left: -2px;
}

.giphy_selecter_powerdByGiphy {
  text-align: right;
  float: right;
}

.giphy_selecter_gif_img_container {
  overflow: hidden;
  cursor: pointer;
}

.giphy_selecter_gif_img {
  background: #eee;
  width: 100%;
  height: 100%;
}

.giphy_selecter_spinner_more {
  margin-top: 20px;
  text-align: center;
}

.giphy_selecter_spinner_empty_modal {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 17px);
  transform: translateX(-50%) translateY(-50%);
  @include phone {
    top: 50%;
    left: 50%;
  }
}

.giphy_selecter_error_msg {
  width: 229px;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #000000;
  line-height: 1.57;
  padding: 0px 20px;
  position: absolute;
  top: 137px;
  left: 18px;
  @include phone {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.giphy_empty_state {
  height: 100%;
  align-content: center;
  display: grid;
  text-align: center;
  .title {
    font-size: 24px;
  }
  .subtitle {
    opacity: 0.4;
    font-size: 16px;
    padding-top: 6px;
  }
}
