@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.giphy_api_input_modal_container {
  @include phone {
    padding: 20px;
    padding-top: 12px;
    overflow: hidden;
  }
}

.giphy_api_input_modal_navbar {
  display: grid;
  grid-template-areas: "title icon";
  padding-left: 20px;
  padding-top: 20px;
  padding-top: 15px;
}

.giphy_api_input_modal_closeButton {
  padding-right: 20px;
  grid-area: icon;
  display: flex;
  justify-self: end;
}
