@import "./mixins";
@import "./palette";

$toolbar-btn-width: 36px;
$toolbar-border-radius: 2px;

.buttonWrapper {
  display: inline-block;
  padding: 10px 0;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.fileButtonWrapper {
  position: relative;
  width: $toolbar-btn-width;
  height: 100%;
  cursor: pointer;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }

  &:hover {
    @include svg-fill($accent-color);
  }

  form, input, button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  button {
    background: transparent;
    padding: 5px;

    @include svg-fill($secondary-text-color);
    svg {
      position: absolute;
      top: 15px;
      left: 8px;
    }
  }
  form   {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    input {
      cursor: pointer;
      z-index: -1;
    }
  }
}

.button {
  background: transparent;
  color: $secondary-text-color;
  padding: 5px;

  @include svg-fill($secondary-text-color);

  &:hover, &:focus {
    cursor: pointer;
    outline: 0; /* reset for :focus */
    @include svg-fill($accent-color);
  }
}

.active {
  color: $accent-color;
  @include svg-fill($accent-color);
}
