.container { 
  position: relative;
  
  border-radius: 14px;
  padding: 40px;
  background-color: #ebba4d;
  color: #fff;
}

.list {
  list-style: none;
  padding: 0;
}

.addOptionButton {
  background: transparent;
  text-align: left;
  margin-top: 20px;
  border: 1px dashed #fff;
  width: 100%;
  border-radius: 6px;
  color: inherit;
  opacity: 0.6;
  z-index: 1;
  position: relative;
  cursor: pointer;
  padding: 15px 24px;
  font-size: 18px;
  line-height: 1;
  
  &:hover, &:focus {
    outline: 0;
    opacity: 1;
  }
}
