:global {
  .LinesEllipsis-ellipsis {
    color: fuchsia;
  }
}

.readMore {
  color: blue;
}

.readMore_wrapper {
  border: 1px solid green;
}

.seeFullPost_overlay {
  border: 1px solid blue;
}

.seeFullPost_label {
  color: fuchsia;
}

.imageCounter_overlay {
  border: 1px solid red;
}

.imageCounter_label {
  color: fuchsia;
}
