$primaryColor: black;
$secondaryColor: #969696;
$bgColor: #fffafa;

.linkPreview {
  border-color: $primaryColor;
  background-color: $bgColor;
}

.linkPreview_info {
}

.linkPreview_title {
  color: $primaryColor;
}

.linkPreview_image {
  border-color: $primaryColor;
}

.linkPreview_description {
  color: $primaryColor;
}

.linkPreview_url {
  color: $secondaryColor;
}

.linkPreview_embed {
}
