$dropdown-color: #333;
$dropdown-highlight: #0261ff;
$dropdown-border-color: #ededed;
$dropdown-font-size: 14px;

@mixin icon-n-text {
  white-space: nowrap;

  img,
  svg {
    display: inline-block;
    width: 17px;
    vertical-align: middle;
    margin: -4px 12px 0 0;
    color: $dropdown-color;

    path {
      fill: $dropdown-color;
    }
  }

  span {
    display: inline-block;
    color: $dropdown-color;
  }

  &:hover {
    img,
    svg {
      color: $dropdown-highlight;
      path {
        fill: $dropdown-highlight;
      }
    }

    span {
      color: $dropdown-highlight;
    }
  }
}

.Dropdown-root {
  position: relative;
  font-size: $dropdown-font-size;
  color: $dropdown-color;

  .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: all 200ms ease;
    padding: 10px 62px 10px 0;

    @include icon-n-text();
  }

  .Dropdown-arrow {
    content: " ";
    border-color: transparent $dropdown-color $dropdown-color transparent;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 0;
    position: absolute;
    right: 17px;
    top: 17px;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);

    &.is-open {
      top: 21px;
      transform: rotate(225deg);
    }
  }

  .Dropdown-menu {
    background-color: white;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: auto;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    margin-left: -10px;
    margin-top: -2px;
    border: 1px solid $dropdown-border-color;
    border-radius: 8px;
  }

  .Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
  }

  .Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 10px 12px;

    @include icon-n-text();
  }

  .Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .Dropdown-option:hover {
    color: $dropdown-highlight;
  }

  .Dropdown-option.is-selected {
    color: $dropdown-highlight;
  }

  .Dropdown-noresults {
    box-sizing: border-box;
    color: $dropdown-color;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
}
