.regularText {
  font-family: Helvetica;
}

.headerText {
  font-family: Helvetica;
}

.fontElementMap {
  * {
    @extend .regularText;
  }

  h1,h2,h3,h4,h5,h6 {
    @extend .headerText;
  }
}

:global {
  .glob_regularText {
    font-family: Helvetica;
  }

  .glob_headerText {
    font-family: Helvetica;
  }

  .glob_fontElementMap {
    * {
      @extend .glob_regularText;
    }

    h1,h2,h3,h4,h5,h6 {
      @extend .glob_headerText;
    }
  }
}
