@import './palette';
@import './mixins';

.toolbar {
  min-height: 50px;
  left: 50%;
  transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid $toolbar-border-color;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 1px 5px 0px rgba(220,220,220,0.4);
  z-index: 4;
  box-sizing: border-box;
}

.buttons {
  display: flex;
  padding: 0 19px;

  &.overrideContent {
    padding: 0;
  }
}

.extend {
  border-top: 1px solid $toolbar-border-color;
}

@include phone {
  .buttons {
    display: block;
    width: auto;
    min-width: 195px;
    padding-right: 10px;
  }
}
