@import './mixins';
@import './palette';
@import './consts';

.buttonWrapper {
  display: inline-block;
  padding: 10px 0;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.button {
  background: transparent;
  color: $secondary-text-color;
  padding: 5px;
  border: 0 none;
  cursor: pointer;


  &:hover,
  &:focus {
    outline: 0;
    color: $accent-color;
  }

}

.icon {
  width: $icon-width;
  vertical-align: middle;
  @include svg-fill($secondary-text-color);
  &:hover {
    @include svg-fill($accent-color);
  }
}

.active {
  .icon {
    color: $accent-color;
    @include svg-fill($accent-color);
  }
}
