@import './palette';
@import './mixins';

$borderRadius: 6px;

.inlineToolbar {
  min-height: 50px;
  left: 50%;
  transform: translate(-50%) scale(0);
  position: absolute;
  border: 1px solid $toolbar-border-color;
  background: #fff;
  border-radius: $borderRadius;
  box-shadow: 0px 1px 5px 0px rgba(220,220,220,0.4);
  z-index: 4;
  box-sizing: border-box;
}

.inlineToolbar_buttons {
  display: flex;
  padding: 0 19px;

  &::-webkit-scrollbar {
    display: none;
  }

  &.inlineToolbar_overrideContent {
    padding: 0;
  }

  .inlineToolbar_responsiveArrow {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    line-height: 48px;
    text-align: center;
    background: white;
    font-size: 12px;
    cursor: pointer;
    z-index: 9999;

    > i {
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 1px solid $toolbar-font-color;
      border-width: 0 0 1px 1px;
    }
  }

  .inlineToolbar_responsiveArrowLeft {
    left: 0;
    border-right: 1px solid $toolbar-border-color;
    border-radius: $borderRadius 0 0 $borderRadius;

    > i {
      margin-left: 3px;
      transform: rotate(45deg);
    }
  }

  .inlineToolbar_responsiveArrowRight {
    right: 0;
    border-left: 1px solid $toolbar-border-color;
    border-radius: 0 $borderRadius $borderRadius 0;

    > i {
      margin-right: 3px;
      transform: rotate(225deg);
    }
  }

}

.inlineToolbar_extend {
  border-top: 1px solid $toolbar-border-color;
}

@include phone {
  .inlineToolbar_buttons {
    display: flex;
    width: auto;
    max-width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    .inlineToolbar_responsiveArrow {
      display: block;
    }
  }
}
