@import './mixins';
@import './palette';
@import './consts';


.pluginToolbarButton_wrapper {
  display: inline-block;
  padding: 10px 0;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.pluginToolbarButton_replaceButtonWrapper {
  position: relative;
  width: 27px;
  flex: 0 0 27px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  form,
  input,
  button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  button {
    cursor: pointer;
    background: transparent;
    padding: 5px;
    border: 0 none;
    z-index: 1;
    color: $toolbar-font-color;
    @include svg-fill;
    .icon {
      width: $icon-width;
    }

    &:hover,
    &:focus {
      outline: none;
      color: $accent-color;
      @include svg-fill;
    }
  }

  form {
    z-index: 2;
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
    input {
      z-index: -1;
      cursor: pointer;
    }
  }
}

.pluginToolbarButton {
  background: transparent;
  color: $toolbar-font-color;;
  padding: 5px;
  border: 0 none;
  cursor: pointer;

  @include svg-fill;
  .pluginToolbarButton_icon {
    width: $icon-width;
  }

  &:hover,
  &:focus,
  &.pluginToolbarButton_active {
    outline: 0; /* reset for :focus */
    color: $accent-color;
    @include svg-fill;
  }
}
