.radioGroupHorizontal_title {
  display: block;
  margin-bottom: 9px;
}

.radioGroupHorizontal_group {

  label {
    width: 50%;
    display: inline-block;
  }

  span {
    vertical-align: text-bottom;
  }
}

.radioGroupHorizontal_readOnly {
  opacity: 0.5;
  pointer-events: none;
}
