.selectionList {
  width: 100%;
  display: grid;
}

.selectionListOption {
  font-size: 14px;
  text-align: center;
  margin: 0 auto 0 auto;
  cursor: pointer;
}

.selectionListOption.selectionListOption_selected,
.selectionListOption:active,
.selectionListOption:focus {
  color: #0261ff;
}
