.selectionList {
  width: 100%;
  display: block;
}

.selectionListOption {
  font-size: 14px;
  text-align: center;
  margin: 0 auto 0 auto;
  cursor: pointer;
  display: inline-block;
  width: 25%;
}

.selectionListOption_selected {
  color: #0261ff;
}
