.settingsPanel_footer {
    display: flex;
    justify-content: flex-end;
    padding: 30px 42px 30px;
    border-top: solid 1px #ededed;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 419px;
    height: 100px;
    box-sizing: border-box;
    background: #fff;
    z-index: 5;
    font-size: 14px;
}

%panel_button {
    padding: 8.5px 24px;
}

.settingsPanel_save {
    @extend %panel_button;
}

.settingsPanel_cancel+.settingsPanel_save {
    margin-left: 24px;
}

.settingsPanel_cancel {
    @extend %panel_button;
}
