@import "./mixins";

.toolbar {
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 2px;
  z-index: 2;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  direction: ltr;
}
