@import "./mixins";

.toolbar {
  position: relative;
  bottom: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  padding: 11px 0;
  z-index: 2;
  box-sizing: border-box;
  width: 740px;
  margin-right: auto;
  margin-left: auto;
  @include phone {
    width: 100%;
  }
}
