@import "./mixins";
@import "./palette";
@import './consts';

.buttonWrapper {
  position: relative;
  display: inline-block;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }

  .button {
    background: transparent;
    color: $secondary-text-color;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 100%;

    .icon {
      display: inline-block;
      width: $icon-width;
      vertical-align: middle;
      @include svg-fill($secondary-text-color);
      &:hover {
        @include svg-fill($accent-color);
      }
    }

    span {
      font-size: 12px;
      margin-left: 8px;
      vertical-align: middle;
    }

    &:hover, &:focus {
      cursor: pointer;
      outline: 0;
      color: $accent-color;
      @include svg-fill($accent-color);
    }
  }

  form {
    .fileInput {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}
