@import '~wix-rich-content-common/dist/statics/styles/palette';

.anchorViewer_anchorIcon {
  position: absolute;
  top: 3px;
  right: -9px;
}

.dividerContainer {
  box-sizing: border-box;
  width: 100%;
  height: 29px;
  padding-top: 14px;
  max-width: 100%;
  margin: 0 auto;
}

.divider {
  box-sizing: border-box;
  display: block;
  stroke: currentColor;
  stroke-width: 1;
  shape-rendering: crispEdges;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: aqua;
}