@import "~wix-rich-content-common/dist/statics/styles/palette";

.link {
  color: $accent-color;
  text-decoration: none;
}

.toolbarUrlContainer {
  display: flex;
  margin-right: 5px;
}

.toolbarUrl {
  color: $accent-color;
  max-width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 640px) {
  .toolbarUrl {
    max-width: 160px;
  }
}