@import '~wix-rich-content-common/dist/statics/styles/palette';

.anchorPanel_container {
  position: relative;
  min-width: 360px;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

.anchorPanel_container_isMobile {
  min-width: 0;
}

.anchorPanel_content {
  padding: 0 23px;
}

.anchorPanel_Content {
  margin: 0px 1px;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

.anchorPanel_Input {
  // margin: 16px 0 14px 0; // this is the right margin - once radio buttons would be added back
  margin: 5px 0 13px 0;
  position: relative;
}

.linkPanel_textInput,
.linkPanel_dropdownList {
  color: $modal-input-color;
  width: 100%;
  font-size: 14px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-sizing: border-box;

  &:focus,
  &:focus+.linkPanel_dropdownList {
    border: 1px solid rgba(51, 51, 51, 0.5);
  }
}

.linkPanel_textInput {
  height: 42px;
  padding: 0 18px;
  text-align: left;

  &::placeholder {
    opacity: 0.4;
  }
}

.linkPanel_dropdownList {
  position: absolute;
  border-top: none;
}

.linkPanel_textInput_invalid {
  border: 1px solid red !important;
}

.anchorPanel_errorIcon {
  position: absolute;
  right: 12px;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 13px;
}

.anchorPanel_actionsDivider {
  margin: 0 4px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.anchorPanel_Footer {
  display: flex;
  justify-content: space-between;
}

.anchorPanel_FooterActions {
  display: flex;
}

.anchorPanel_FooterButton {
  font-size: 14px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px 23px 14px 18px;
}

.anchorPanel_Cancel {
  padding: 12px 19px 14px 23px;
}

.anchorPanel_enabled {
  color: #0261ff;
}

.anchorPanel_DescriptionLabel{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.anchor_infoIcon {
  vertical-align: text-bottom;
  height: 17px;
  padding-left: 9px;
  &:hover {
    color: #0161FF;
    cursor: pointer;
  }
}