@import '~wix-rich-content-common/dist/statics/styles/palette';

.checkbox_input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.checkbox {
  cursor: pointer;
  display: flex;
  margin-bottom: 12px;
}
.checkbox_wrapper {
  display: flex;
}
.checkbox_inputLabel:hover .checkbox_icon_unchecked{
  background-color: rgba($action-color-fallback-tuple, 0.2);
}
.checkbox_icon {
  width: 16px;
  height: 16px;
  padding: 3px 2px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px $action-color-fallback;
  display: inline-block;
  vertical-align: text-bottom;
  color: #fff;
  box-sizing: border-box;

  &:hover {
    color: rgba($action-color-fallback-tuple, 0.1);
  }
}

.checkbox_infoIcon {
  vertical-align: text-bottom;
  height: 19px;
  padding-top: 2px;
  &:hover {
    color: $action-color-fallback;
  }
}

.checkbox_icon_checked {
  background-color: $action-color-fallback;
}

.checkbox_check {
  width: 10px;
  height: 8px;
  display: block;
}

.checkbox_label {
  margin-left: 12px;
}
