.checkbox_input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.checkbox {
  cursor: pointer;
  display: flex;
  margin-bottom: 12px;
}
.checkbox_wrapper {
  display: flex;
}
.checkbox_inputLabel:hover .checkbox_icon_unchecked{
  background-color: rgba(2, 97, 255, 0.2);
}
.checkbox_icon {
  width: 16px;
  height: 16px;
  padding: 3px 2px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #0261ff;
  display: inline-block;
  vertical-align: text-bottom;
  color: #fff;
  box-sizing: border-box;
}

.checkbox_infoIcon {
  vertical-align: text-bottom;
  height: 17px;
  padding-top: 2px;
  &:hover {
    color: #0161FF;
  }
}

.checkbox_icon_checked {
  background-color: #0261ff;
}

.checkbox_check {
  width: 10px;
  height: 8px;
  display: block;
}

.checkbox_label {
  margin-left: 12px;
}
