@import '~wix-rich-content-common/dist/statics/styles/palette.scss';

$dropdown-color: #333;
$dropdown-highlight: #1234;
$dropdown-border-color: #ededed;
$dropdown-font-size: 14px;

.Dropdown-option-icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  margin: -4px 12px 0 0;
  color: inherit;
}

.Dropdown-option-label {
  display: inline-block;
  color: inherit;
  font-size: 14px;
}

.Dropdown-root {
  position: relative;
  font-size: $dropdown-font-size;
  color: $dropdown-color;
}

.Dropdown-control {
  border: none;
  position: relative;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  transition: all 200ms ease;
  padding: 10px 62px 10px 0;
  white-space: nowrap;
  color: $dropdown-color;

  &:hover {
    background-color: rgba($fallbackColor, 0.06);
  }

  .divider {
    color: $fallbackColor;
  }
}

.Dropdown-arrow {
  display: block;
  position: absolute;
  right: 6px;
  top: 10px;
  width: 19px;
  height: 19px;
}

.Dropdown-arrow-isOpen {
  transform: rotate(180deg);
}

.Dropdown-menu {
  background-color: white;
  max-height: 250px;
  overflow-y: auto;
  position: fixed;
  top: 100%;
  width: auto;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  margin-left: -10px;
  margin-top: -2px;
  border: 1px solid $dropdown-border-color;
  border-radius: 8px;
  padding: 8px 0px;
}

.Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  border: none;
  background-color: transparent;
  color: $dropdown-color;
  cursor: pointer;
  display: block;
  padding: 0 12px;
  white-space: nowrap;

  .divider {
    color: $action-color-fallback;
  }

  &:hover {
    color: $action-color-fallback;

    svg {
      color: $action-color-fallback;
      fill: $action-color-fallback;
    }
  }

  &-selected {
    color: $dropdown-highlight;
  }
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-noresults {
  color: $dropdown-color;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
