@import '~wix-rich-content-common/dist/statics/styles/palette';

.linkPanel_overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.linkPanel_container {
  font-family: HelveticaNeue;
  color: black;
  position: relative;
  width: 502px;
  min-width: 360px;
  height: 372px;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

.linkPanel_content {
  display: flex;
  height: 279px;
}

.linkPanel_Content {
  width: 100%;
  margin: 14px 1px 0px 1px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

.linkPanel_Input {
  // margin: 16px 0 14px 0; // this is the right margin - once radio buttons would be added back
  margin: 5px 0 13px 20px;
  position: relative;
}
.checkboxesContainer {
  margin-left: 20px;
}

.linkPanel_textInput,
.linkPanel_dropdownList {
  color: $modal-input-color;
  width: 100%;
  font-size: 14px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-sizing: border-box;

  &:focus,
  &:focus+.linkPanel_dropdownList {
    border: 1px solid rgba(51, 51, 51, 0.5);
  }
}

.linkPanel_textInput {
  height: 42px;
  padding: 0 18px;
  text-align: left;

  &::placeholder {
    opacity: 0.4;
  }
}

.linkPanel_dropdownList {
  position: absolute;
  border-top: none;
}

.linkPanel_textInput_invalid {
  border: 1px solid red !important;
}

.linkPanel_imageSettings {
  width: 100%;
  height: 42px;
  padding: 0 17px;
  color: #333333;
  border: 1px solid #ededed;
  box-sizing: border-box;
}

.linkPanel_errorIcon {
  position: absolute;
  right: 12px;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 13px;
}

.linkPanel_actionsDivider {
  margin: 0 -19px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.linkPanel_Footer {
  display: flex;
  justify-content: space-between;
  padding: 12px 0 16px 0;
}

.linkPanel_FooterActions,
.linkPanel_RemoveContainer {
  display: flex;
}

.linkPanel_FooterButton {
  line-height: 1.5;
  font-size: 14px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.linkPanel_VerticalDivider {
  margin: 0 0 0 20px;
  height: auto;
  border-right: 1px solid rgba(51, 51, 51, 0.1);
  &.linkPanel_VerticalDividerNarrowMargin{
    margin: 0 13px;
  }
}

.linkPanel_disabled {
  opacity: 0.4;
  cursor: default;
}

.linkPanel_enabled {
  color: #0261ff;
}

.linkPanel_header {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 2px;
  margin-bottom: 16px;
}

.linkPanel_radioButtons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: fit-content;

  label {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 14px;
    width: max-content;
    display: inline-flex;
    align-items: center;
  }

  span {
    vertical-align: text-bottom;
  }
}

.linkPanelDropdown_dropdownArrowIcon{
  position: absolute;
  top: 12px;
  right: 12px;
} 

.AnchorableElement_container {
  display: flex;
  padding: 4px 4px 4px 20px;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
  }

  &.AnchorableElement_selected {
    background-color: rgba(0, 0, 0, .1);
  }

  .AnchorableElement_thumbnail {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
  }

  .AnchorableElement_contentContainer {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .AnchorableElement_contentType {
      opacity: 0.4;
      font-size: 12px;
      line-height: 1.33;
    }
  
    .AnchorableElement_blockContent {
      font-size: 14px;
      line-height: 1.43;
      //TODO: fix the width
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 210px;
    }
  }
}

.LinkToAnchorPanel_header {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .LinkToAnchorPanel_title {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.4;
  }

  .LinkToAnchorPanel_dropdownWrapper{}

  .LinkToAnchorPanel_dropdownControl {
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 38px;
    padding: 0 30px 0 0 !important;
  }

  .LinkToAnchorPanel_dropdownMenu {
    top: auto !important;
    right: 0;
    height: 204px;
  }
}

.LinkToAnchorPanel_anchorsElementsContainer {
  max-height: 227px;
  overflow: auto;
}
// ::-webkit-scrollbar {
//   display: none;
// }

.FilterDropdownElement {
  font-size: 14px;
  margin: 6px;
}

.linkPanel_emptyStateContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 60px;

  .linkPanel_emptyStateTitle{
    font-size: 16px;
    line-height: 1.5;
    align-self: center;
    text-align: center;
  }

  .linkPanel_emptyStateText{
    opacity: 0.4;
    font-size: 16px;
    line-height: 1.5;
    align-self: center;
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .linkPanel_container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 0;
    width: auto;
    height: auto;
    margin: 0;
  }
  
  .linkPanel_Footer {
    padding: 10px 10px;
    background-color: #0060ff;
  }

  .linkPanel_enabled,
  .linkPanel_Cancel,
  .linkPanel_disabled {
    color: #ffffff;
  }

  .linkPanel_VerticalDivider{
    margin: 0 20px;
    border-right: 1px solid white;
  }

  .linkPanel_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 24px;
    text-align: center;
  }

  .linkPanel_tabsWrapper{
    display: flex;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 12px;
    
    .linkPanel_tab{
      display: flex;
      height: 30px;
      padding-bottom: 8px;
      width: 100%;
      justify-content: center;
      align-items: center;
      &:hover{
        cursor: pointer;
      }
    }
    
    .linkPanel_tabSelected{
      border-bottom: 2px solid #0261ff;
      color: #0261ff;
    }
    
    .linkPanelDropdown_dropdownArrowIcon{
      position: absolute;
      top: 12px;
      right: 12px;
    }
  }

  .AnchorableElement_container {
    padding: 4px;
  }

  .linkPanel_content {
    padding: 0 18px;
    height: calc(100% - 207px);
  }

  .linkPanel_Content {
    margin: 10px 1px 0;
  }

  .linkPanel_Input {
    margin: 5px 0 20px 0;  
  }
  .checkboxesContainer {
    margin-left: 0;
  }

  .LinkToAnchorPanel_header {
    margin-left: 0;
    margin-bottom: 7px;
  }

  .linkPanel_emptyStateContainer {
    align-self: flex-start;
    margin: 80px 35px 0 35px;
  
    .linkPanel_emptyStateTitle{
      font-size: 14px;
    }
  
    .linkPanel_emptyStateText{
      font-size: 14px;
    }
  }

  .LinkToAnchorPanel_anchorsElementsContainer {
    max-height: 100%;
  }
}