.settingsPanel_footer {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 24px 24px;
  border-top: solid 1px #ededed;
  width: 100%;
  max-width: 419px;
  height: 88px;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
}

.settingsPanel_footer_fixed {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

%panel_button {
  padding: 8.5px 24px;
  min-width: 109px;
  max-width: 115px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: none;
}

.settingsPanel_save {
  @extend %panel_button;
}

.settingsPanel_cancel + .settingsPanel_save {
  margin-left: 24px;
}

.settingsPanel_cancel {
  @extend %panel_button;
  border-style: solid;

  &:hover {
    background: #fff;
    color: #4990e2;
  }
}
