@import '~wix-rich-content-common/dist/statics/styles/palette';

.textInput {
  position: relative;
  &:hover {
    color: #333333;
  }
}

.textInput_input {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  padding-left: 37px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  &:focus,
  &:hover {
    border-color: #333333;
  }
}

.textInput_prefixIcon,
.textInput_suffixIcon {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 24px;
}

.textInput_prefixIcon {
  left: 7px;
}

.textInput_suffixIcon {
  right: 11px;
}
