@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.urlInput_container {
  padding: 80px 120px;
  @include phone {
    padding: 160px 33px !important;
  }
}

.urlInput_closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  color: black;
  @include phone {
    right: 30px;
    top: 50px;
  }
}

.urlInput_header {
  display: grid;
  align-items: center;
  color: #333333;
}

.urlInput_header_text {
  line-height: 28px;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.urlInput_header_subtitle {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 32px;
}

.urlInputModal_textInput {
  margin-top: 36px;
  margin-bottom: 42px;
  @include phone {
    margin-top: 32px;
    margin-bottom: 33px;
  }
}

.urlInput_modal_footer {
  justify-content: center;
  border: none !important;
  padding: 0 !important;
  height: 40px !important;
  @include phone {
    display: grid;
    grid-template-areas: 'save' 'cancel';
    grid-row-gap: 9px;
    grid-auto-columns: 100%;
  }
}

.settingsPanel_save,
.settingsPanel_cancel {
  min-width: 132px;
  height: 40px;
  @include phone {
    max-width: none;
    font-size: 16px;
    width: 100%;
    height: 46px;
    margin-left: 0px !important;
  }
}

.settingsPanel_save {
  background-color: black;
  margin-left: 12px !important;
  &:hover {
    background-color: #000 !important;
  }
  @include phone {
    grid-area: save;
    margin-left: 0px !important;
  }
}
.settingsPanel_cancel {
  color: black;
  border-color: black;
  &:hover {
    color: black;
    border-color: black;
  }
  @include phone {
    grid-area: cancel;
    border: none;
  }
}

.textInput_input {
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.6);

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  &:focus,
  &:hover {
    border-color: black;
  }
}

.textInput_input_invalid {
  border-color: #ee5951;
  &:focus,
  &:hover {
    border-color: #ee5951;
  }
}
