$TITLE_HEIGHT: 0px;
$FOOTER_HEIGHT: 100px;

.gallerySettings_settingsContainer {
  padding: 0;
}

.gallerySettings_settingsContainerMobile {
  padding: 18px;
}

.gallerySettings_title {
  font-size: 18px;
  width: 100%;
  color: #333333;
  line-height: 30px;
  padding: 45px 30px 24px;
  margin: 0;
  border-bottom: 1px solid #ededed;
  position: relative;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

.gallerySettings_divider {
  border: none;
  border-bottom: 1px solid #ededed;
  margin: 18px auto;
}

.gallerySettings_spacer {
  height: 12px;
  display: block;
}

.gallerySettings_label {
  font-size: 14px;
}

.gallerySettings {
  height: calc(100% - #{$TITLE_HEIGHT} - #{$FOOTER_HEIGHT});
  margin: $TITLE_HEIGHT auto $FOOTER_HEIGHT auto;
  overflow-y: auto;
  overflow-x: hidden;
}
