@import '~wix-rich-content-common/dist/statics/styles/palette';

.gallerySettingsMobileHeader_header {
  display: block;
  padding: 0 9px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  line-height: 50px;
  box-sizing: border-box;
  background: $action-color-fallback;
  z-index: 5;
}

.gallerySettingsMobileHeader_headerPlaceholder {
  display: block;
  position: relative;
  width: 100vw;
  height: 50px;
  background: transparent;
}

.gallerySettingsMobileHeader_button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  padding: 0 9px;
}

.gallerySettingsMobileHeader_menuIcon {
  float: right;

  svg {
    width: 20px;
    margin: 6px 0 -6px 0;

    path {
      fill: #fff;
    }
  }
}

.gallerySettingsMobileHeader_menu {
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 6;
  background: white;
  box-shadow: 0 0 0 1px #ededed;
  padding: 0px 18px;
  border-width: 4px 0;
  border-color: white;
  line-height: 42px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background: $action-color-fallback;
    color: white;
  }
}

.gallerySettingsMobileHeader_done {
  float: right;
}

.gallerySettingsMobileHeader_cancel {
  float: left;
}
