.layoutsSelector_label {
  display: block;
  margin-bottom: 13px;
}

@supports (display: grid) {
  .layoutsSelector_grid {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 92px 73px;
  }
}

.layoutsSelector_tile {
  margin: 0 auto 0 auto;
  display: inline-block;
}

.layoutsSelector_tile_label {
  margin-top: 6px;
  line-height: 1.5;
  display: block;
}

.layoutsSelector_icon {
  width: 46px;
  height: 46px;
}

.layoutsSelector_icon_selected {
  color: #0261ff;
}

@supports not (display: grid) {
  .layoutsSelector_option {
    display: inline-block;
    width: 25%;
    margin-bottom: 21px;
  }
}

.layoutsSelector_option {
}
