.gallery_container {
  outline: none;
}

// fixes the gallery arrow buttons z-index
:global {
  .nav-arrows-container {
    left: auto;
    z-index: 3;
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    font-size: 40px;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
}
}
