.gallery_container {
  outline: none;
}

.expandIcon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  color: white;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.01),
    transparent
  );

  path {
    opacity: 0.8;
  }
  &:hover path {
    opacity: 1;
  }

  display: none;
  .gallery_container:hover & {
    display: block;
  }
}

.galleryItem {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.clickableItem {
  cursor: pointer;
}

.imageTitle {
  color: white;
  font-size: 14px;
  height: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageTitleContainer {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 52px;
  bottom: 0;
  padding: 16px 20px 16px 20px;

  display: none;
  .gallery_container:hover & {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

:global {
  .gallery-item-hover {
    &::before { //removes the background we get from the gallery
      background: unset !important;
    }

    .gallery-item-hover-inner {
      height: 100%;
    }
  }
  // fixes the gallery arrow buttons z-index
  .nav-arrows-container {
    left: auto;
    z-index: 3;
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    font-size: 40px;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
  }
}
