.headingsPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0;
    width: 140px;
  
    * {
      height: 35px;
      border: none;
      font-size: 14px;
      font-family: HelveticaNeue;
      width: 100%;
      text-align: left;
      padding-left: 18px;
      background-color: transparent;
  
      &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, .05);
      }
    }
}

.headingsPanel_selectedHeading {
    background-color: rgba(0, 0, 0, .1) !important;
}

.headingsMobilePanel {
    display: grid;  
    padding: 5px 15px;
    
    * {
        height: 50px;
        flex: 1;
        text-align: left;
        font-size: 16px;
        font-family: HelveticaNeue;
        background-color: transparent;

        border: none;
    }
}

.headingsPanelContainer {
    border: solid 1px #ededed;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background: #fff;

}

.headingsPanelContainer_mobile {
    border: solid 1px #ededed;
    border-radius: unset;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.05);
}