
@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.item_container{
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 3px;
    margin-right: 3px;
    display: inline-block;
    width: calc(50% - 15px);
    box-sizing: border-box;
    @include phone{
        width: calc(100vw - 32px);
    }
    cursor: pointer;
}

.item_container:hover{
    background: rgba(33,61,232, .5);
}