@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.scrollbar_thumb {
  background: #000000;
  border-radius: 4px;
  width: 4px;
  margin-left: -10px;
}
.customize_scrollbar_container {
  margin-right: -41px;
  margin-top: 5px;
}
