@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/palette";

.search_input_container{
  padding: 10px;
  padding-bottom: 0px;
}

.button_secondary {
  padding: 12px;
  display: inline-block;
}

.textInput {
  display: inline-block;
  width: calc(100% - 78px);
  margin-right: 5px;
  @include phone {
    width: calc(100vw - 20px);
  }
}
