.toolbar {
  display: flex;
  height: 40px;

  button,
  label {
    background: #fff;
    border: 1px solid #666;
    cursor: pointer;
    height: 40px;
    opacity: 1 !important;

    &:disabled {
      color: graytext;
    }
  }

  & > button, label {
    width: 40px;
  }

  label {
    text-align: center;
  }
}
