.emptyState {
    display: flex;
    flex-direction: column;
    height: 320px;
    align-items: center;
    justify-content: center;  
}

.title,
.description {
    font-family: HelveticaNeue;
    font-size: 16px;
    color: #000000;
}

.description {
    padding-top: 4px;
    opacity: 0.4;
}