@import '~wix-rich-content-common/dist/statics/styles/palette';

.container {
  width: 100%;
  cursor: pointer;
  height: 48px;
  display: grid;
  grid-template-areas:
    'img title'
    'img description';
  grid-template-columns: max-content auto;
  grid-column-gap: 20px;
  padding: 17px 0;
  &.selected {
    background-color: rgba($fallbackColor, 0.1);
  }
  &:hover:not(.selected) {
    background-color: rgba($fallbackColor, 0.06);
  }

  .image {
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 48px;
    height: 48px;
    flex: 0 0 auto;
    margin-left: 17px;
    grid-area: img;
  }
  .title,
  .description {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
  }
  .title {
    grid-area: title;
    font-size: 16px;
    line-height: 24px;
  }
  .description {
    grid-area: description;
    font-size: 14px;
    line-height: 1.43;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 14px;
    line-height: 1.43;
  }

  .description {
    font-size: 12px;
    line-height: 1.33;
  }
}
