
.radioButton {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #0261ff;
  background: #fff;
  margin-right: 12px;
  display: inline-block;
  margin-right: 20px;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
    display: block;
  }
}

.radioInput {
  display: none;
}

.radioInput:checked + .radioButton {
  border-color: #0261ff;

  &::after {
    background-color: #0261ff;
  }
}

.listItemContainer {
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
  border-bottom: 1px solid #f3f3f3;

  &:hover {
    background-color: #f8f8f8;
  }
}

.listItemImage {
  width: 100px;
  border-radius: 5px;
}

.actionItemsContainer {
  padding: 30px;

  h6 {
    color: #7c7c7c;
  }
}
