@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.verticalEmbedContainer {
  padding: 48px 0;
}

.verticalEmbedModalCloseIcon {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.verticalEmbedModalTitle {
  width: 100%;
  height: 36px;
  font-size: 24px;
  text-align: center;
  padding-bottom: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  @include phone {
    height: 34px;
    padding-bottom: 12px;
  }
}

.actionButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px;

  .actionButton {
    width: 108px;
    display: inline-block;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 12px;
    height: 40px;
    cursor: pointer;
  }
}