.urlInput_container {
  padding: 24px;
}
.urlInput_closeIcon {
  right: 24px;
  top: 24px;
}
.urlInput_header {
  align-items: start;
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.urlInput_header_text {
  text-align: left;
}
.urlInputModal_textInput {
  margin-top: 28px;
}
.urlInput_modal_footer {
  max-width: 100%;
  justify-content: flex-end;
}
.settingsPanel_save,
.settingsPanel_cancel {
  height: 36px;
}

.itemsWrapper {
  padding-top: 20px;
}
