$SLIDER_INPUT_MARGIN: 18px;
$INPUT_WIDTH: 50px;
.sliderWithInput_label {
    display: block;
}

.sliderWithInput_readOnly {
    opacity: 0.5;
    pointer-events: none;
}

.sliderWithInput_content {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
}

.sliderWithInput_slider {
    width: calc(100% - $SLIDER_INPUT_MARGIN - $INPUT_WIDTH);
}

.sliderWithInput_input {
    font-family: inherit;
    font-size: 14px;
    border-radius: 3px;
    border: solid 1px #ededed;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.1em;
    text-align: center;
    width: $INPUT_WIDTH;
    margin-left: $SLIDER_INPUT_MARGIN;
}
