.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: black;

  :global(.pro-gallery .ltr), :global(.pro-gallery .rtl) {
    direction: ltr !important;
  }
}

.close {
  box-sizing: content-box;
  z-index: 1001;
  padding: 10px;
  position: fixed;
  right: 20px;
  top: 20px;
  background: black;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  color: white;
  opacity: 0.6;
  border: hidden;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
