.input {
  margin-top: 20px;
  padding: 15px 35px 15px 25px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 18px;

  &:focus {
    border: 1px solid #fff;
  }
}

.title {
  position: relative;

  &:hover {
    .remove {
      opacity: 1;
    }
  }
}

.remove {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 500ms;
}
