.option {
  position: relative;

  &.userChoice {
    border: 2px solid #fff;

    .check {
      display: block;
    }
  }

  .check {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: #fff;
    z-index: 1;
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
}

.image {
  height: 140px;
}

.option .input {
}

.option.withImage .input {
  text-align: center;
}

.option.withImage {
  .input,
  .progress {
    border-radius: 0 0 6px 6px;
  }
}

.input {
  line-height: 1;
  padding: 15px 35px 15px 25px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 18px;

  &:focus {
    border: 1px solid #fff;
  }

  &.centered {
    text-align: center;
  }
}

.title {
  position: relative;
}

.progress {
  display: none;
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, .2);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 6px;
}

.votedIcon,
.label {
  position: relative;
  z-index: 2;
}

.votedIcon {
  position: absolute;
  left: 25px;
  top: 12px;
}

.showResults .progress {
  display: block;
}

.userChoice .progress {
  background-color: rgba(0, 0, 0, 0.5);
}

.cta {
  cursor: pointer;
  margin: 0;
}

.cta:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.remove {
  cursor: pointer;
}
