.testApp:not(.mobile) > div {
  width: 50%;
}

.testApp {
  display: flex;
  justify-content: flex-start;
}

.mobile {
  flex-direction: column;
}

.rcWrapper {
  border: 1px solid #3d8fd1;
  padding: 0px 10px;
  position: relative;
}

h3 {
  margin: 10px 0px;
}

:not(.mobile) > div > .rcWrapper {
  padding: 10px 50px;
}
