@import '~wix-rich-content-fullscreen/dist/styles.min.css';
@import '~wix-rich-content-common/dist/styles.min.css';
@import '~wix-rich-content-editor-common/dist/styles.min.css';
@import '~wix-rich-content-editor/dist/styles.min.css';
@import '~wix-rich-content-viewer/dist/styles.min.css';