@import "~wix-rich-content-common/dist/statics/styles/mixins";
@import "~wix-rich-content-common/dist/statics/styles/mixins";

.header {}

.title {
  text-align: center;

  @include phone {
    font-weight: bold;
  }
}

.image {
  margin-top: 35px;
  height: 215px;
}

.webview .image {
  border-radius: 2px;
  height: 150px;
}
