/* IMPORT DECLARATIONS */
:import {
    -st-from: '../../node_modules/stylable-components/dist/src/components/selection-list/selection-list.st.css';
    -st-default: List;
}

:import {
    -st-from: '../../node_modules/stylable-components/dist/src/components/selection-list/option.st.css';
    -st-default: Option;
}

:import {
    -st-from: '../../node_modules/stylable-components/dist/src/components/tabs/tabs.st.css';
    -st-default: Tabs;
}

:import {
    -st-from: '../../node_modules/stylable-components/dist/src/components/button/button.st.css';
    -st-default: Button;
}

:import {
    -st-from: '../../node_modules/stylable-components/dist/src/components/slider/slider.st.css';
    -st-default: Slider;
}

:import {
	-st-from: "../../node_modules/stylable-components/dist/src/components/radio-group/radio-button.st.css";
	-st-default: RadioButton;
}

/* STYLABLE-BASE CUSTOMIZATIONS -- APPLY TO ALL STYLABLE COMPONENTS!!! */
List {
  width: 100%;
  display: grid;
}

List Option {
  font-size: 14px;
  text-align: center;
  margin: 0 auto 0 auto;
}

List Option:selected,
List Option:active,
List Option:focused {
  background-color: #fff;
  color: #0261ff;
}

Tabs {
  width: 100%;
  overflow-y: scroll;
}

Tabs::tabList {
  justify-content: space-around;
  height: 50px;
  border-bottom: solid 1px #ededed;
  font-size: 14px;
  line-height: 1.5;
}

Tabs::tabList Option {
  width: 50%;
  padding: 1em;
  text-align: center;
}

Tabs::tabList Option + Option {
  border-left: solid 1px #ededed;
}

Tabs::tabPanel {
  padding: 24px 30px 30px 30px;
}

Tabs::tabList Option:selected:hover:not(:disabled),
Tabs::tabList:focused Option:selected:hover:not(:disabled),
Tabs::tabList Option:selected:not(:disabled),
Tabs::tabList:focused Option:selected:not(:disabled){
  border-bottom: solid 3px #0261ff;
}

Button {
  font-size: 14px;
  color: #fff;
  background-color: #0261ff;
  padding: 10px 24px;
}

Button,
Button:active,
Button:focus {
  outline: none;
  border: none;
}

Slider:x::bar {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #0261ff;
}

Slider:x::handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 1px #ededed;
}

Slider:x::handle::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #0261ff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
}

Slider:x::handle,
Slider:x::handle:active,
Slider:x::handle:focus {
  outline: none;
}

RadioButton::button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #0261ff;
  background: #fff;
}

RadioButton::button::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

RadioButton:checked:not(:disabled)::button {
  border-color: #0261ff;
}

RadioButton:checked:not(:disabled)::button::after {
    background-color: #0261ff;
}

RadioButton span + label {
  margin-left: 12px;
}
