.radioGroup {
  cursor: pointer;
}

.radioGroup_button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #0261ff;
  background: #fff;
  margin-right: 12px;
  display: inline-block;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 2px;
    display: block;
  }
}

.radioGroup_input {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.radioGroup_input:checked + .radioGroup_button {
  border-color: #0261ff;

  &::after {
    background-color: #0261ff;
  }
}
