.radioGroupHorizontal_title {
  display: block;
  margin-bottom: 9px;
}

.radioGroupHorizontal_group {
  display: flex;
  align-items: center;
  line-height: normal;

  label {
    width: 50%;
    display: inline-flex;
    align-items: center;
  }

  span {
    vertical-align: text-bottom;
  }
}

.radioGroupHorizontal_readOnly {
  opacity: 0.5;
  pointer-events: none;
}
