@import './palette';

.textInput {
  position: relative;
}

.textInput_input {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: $modal-input-color;
  width: 100%;
  height: 42px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  padding-left: 18px;
  box-sizing: border-box;
}

.textInput_input_invalid {
  border-color: red;
}

.textInput_errorIcon {
  position: absolute;
  right: 12px;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 13px;
}
