@import '~wix-rich-content-common/dist/statics/styles/mixins';

.file_upload_container {
  overflow: hidden;
  border: 1px solid #ededed;
  color: #333;
  width: 350px;
  height: 60px;
  box-sizing: border-box;
}

.file_upload_link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 18px;
  box-sizing: border-box;
  text-decoration: none;
}

.file_upload_name_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file_upload_name {
  max-width: 250px;
  text-align: left;
  font-size: 14px;
  color: rgb(41, 41, 41);
}

.file_upload_icon {
  margin-right: 12px;
  color: #231f20;
}
/* rtl:ignore */
.file_loader_icon {
  margin-right: 12px;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: #000;
}

.file_upload_type {
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 14px;
  color: rgb(51, 51, 51);
  opacity: 0.5;
  font-family: Helvetica !important;
}

.file_upload_error_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #adadad;
}

.file_upload_error_text {
  width: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}
/* rtl:ignore */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
