.toolbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  button,
  label {
    padding: 10%;
    background: #fff;
    border: 1px solid #666;
    cursor: pointer;
  }

  label {
    text-align: center;
  }
}
