.container {
  position: absolute;
  width: max-content;
  height: 20;
  display: flex;
  border: 1px solid gainsboro;
  border-radius: 8px;
  overflow: hidden;

  .option {
    width: max-content;
    height: 100%;
    color: rgb(58, 178, 226);
  }
}
