.toolbar {
  position: absolute;
  overflow: hidden;
  display: flex;

  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #ededed;
  background-color: #ffffff;
  transform: translate(-50%, -90%);
}

.option {
  width: 43px;
  height: 43px;
  border: none;
  cursor: pointer;
  background: #ffffff;
}

.tweet {
  padding: 11px 6px 11px 6px;
}
