.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);

  position: relative;
  z-index: 1;
  cursor: pointer;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}
