@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import "~wix-rich-content-common/dist/statics/styles/palette";

.inlineToolbarDropdown_wrapper {
  position: relative;
  margin-right: 10px;
  padding: 10px 0;

  &:hover {
    .inlineToolbarDropdownButton_active svg {
      @include fillWithActionColor();
    }
    >div:not(.inlineToolbarDropdown_options) button {
      background-color: rgba($action-color-fallback-tuple, 0.05);

      svg {
        @include fillWithActionColor();
      }
    }
  }
  >div:not(.inlineToolbarDropdown_options) .inlineToolbarDropdownButton_active {
    background-color: rgba($action-color-fallback-tuple, 0.05);
  }
}

.inlineToolbarDropdownButton_active svg {
  @include fillWithActionColor();
}

.inlineToolbarDropdown_options {
  position: absolute;
  top: 10px;
  left: -3px;
  padding: 0 3px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.inlineToolbarDropdownButton_wrapper {
  margin-right: 0 !important;
  padding: 0 !important;
}

.inlineToolbarDropdownButton {
  outline: none;
}

.inlineToolbarDropdownButton_icon {
  outline: none;
}
