@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/consts';
.inlineToolbarDropdown_wrapper {
  position: relative;
  padding: 10px 5px 10px 5px;
}

.inlineToolbarDropdown_options {
  position: absolute;
  overflow: scroll;
  padding: 10px 10px;
  left: -3px;

  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.inlineToolbarDropdownButton_wrapper {
  margin-right: 0 !important;
  padding: 0 !important;

  &>*{
    width: max-content;
    font-size: smaller;
    font-family: Helvetica;

  }
}

.inlineToolbarDropdownButton {
  outline: none;  
}

.inlineToolbarDropdownButton_icon {
  outline: none;
}

.inlineToolbarDropdownButton_arrowIcon {
  position: absolute;
  right: 10px;
  svg {
    width: 16px;
    height: 16px;
  }
}

.inlineToolbarDropdownButton_arrowIcon_isOpen {
  transform: rotate(180deg);
  top: 14px;
}
