@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/mixins';
$borderRadius: 6px;

.inlineToolbar {
  min-height: 50px;
  left: var(--offset-left);
  top: var(--offset-top);
  transform: scale(0);
  position: absolute;
  border: 1px solid $toolbar-border-color;
  background: #fff;
  border-radius: $borderRadius;
  z-index: 4;
  max-width: 100%;
  transition: transform 0.15s cubic-bezier(0.3, 1.2, 0.2, 1);
  direction: ltr;
  box-shadow: 0 4px 8px 0 rgba(123, 99, 99, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.inlineToolbar_buttons {
  display: flex;
  height: 50px;
}

.inlineToolbar_overrideContent {
  height: auto;
  padding: 0;
}

.inlineToolbar_scrollableContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 90px 19px;
  margin: -90px 0;
  pointer-events: none;
  scroll-behavior: smooth;

  & > * {
    pointer-events: initial;
  }

  &.mobile {
    pointer-events: initial;
    padding: 0 10px;
    margin: 0;
    transform: translateZ(0);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}

.inlineToolbar_extend {
  border-top: 1px solid $toolbar-border-color;
}

@include phone {
  .inlineToolbar_buttons {
    display: flex;
    width: auto;
    max-width: 100%;

    .inlineToolbar_responsiveSpacer {
      display: block;
    }

    .inlineToolbar_responsiveArrow {
      display: block;
      height: 49px;
    }
  }
}
