@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/consts';
.inlineToolbarDropdown_wrapper {
  position: relative;
  padding: 10px 0;
}

.inlineToolbarDropdown_options {
  position: absolute;
  overflow: scroll;
  max-height: 100px;
  left: -3px;
  padding: 0 3px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.inlineToolbarDropdownButton_wrapper {
  margin-right: 0 !important;
  padding: 0 !important;
  &>*{
    font-size: medium;
    margin-top: 2px;
  }
}

.inlineToolbarDropdownButton {
  outline: none;  
}

.inlineToolbarDropdownButton_icon {
  outline: none;
}

.inlineToolbarDropdownButton_arrowIcon {
  position: absolute;
  right: 6px;
  top: 15px;

.inlineToolbarDropdownButton_arrowIcon_isOpen {
  transform: rotate(180deg);
}
