@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';
.mobileToolbarButton_wrapper {
  flex: 0 0 12vw;
  text-align: center;
  padding: 0 !important;
  margin-right: 0 !important;
  &:hover,
  &:focus,
  &:active {
    .mobileToolbarButton .mobileToolbarButton_icon svg {
      color: $action-color;
      fill: $action-color;
    }
  }
}

.mobileToolbarButton {
  width: 100%;
  height: 100%;
  padding: 5px 0;
}

.mobileToolbarButton_menuButton {
  
}

.mobileToolbarButton_icon {
  margin: 0 auto;
  color: $primary-text-color;
  @include svg-fill;
}
