@import '~wix-rich-content-common/dist/statics/styles/palette';
@import '~wix-rich-content-common/dist/statics/styles/consts';
@import '~wix-rich-content-editor-common/dist/statics/styles/general';
@import '~wix-rich-content-common/dist/statics/styles/fonts';

.wrapper {
  @extend .fontElementMap;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .editor {
    box-sizing: border-box;
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    input {
      box-sizing: border-box;
    }
  }

  &.desktop {
    .editor {
      :global(.DraftEditor-root) {
        &::after {
          content: '';
          display: table;
          clear: both;
          line-height: 0;
        }
      }
      :global(.public-DraftEditorPlaceholder-root) {
        margin: 0;
      }
    }
  }
}

.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  color: $primary-text-color;
  background-color: $background-color;

  &::after {
    content: '';
    display: table;
    clear: both;
    line-height: 0;
  }
}

.atomic {
  margin: 2px 0;
}

.toolbar {
  margin-top: 20px;
}

.block {
  & + & {
    margin-top: 20px;
  }
}

.elementSpacing {
  margin: 0;

  @include phone {
    margin: 0;
  }
}

.blockStyleSpacing {
  margin: 15px 18px;

  @include phone {
    margin: 15px calc((18px + (100% - #{$textMobileWidth}) / 2));
  }
}

.text {
  composes: elementSpacing;

  &:empty {
    height: 24px;
  }
}

.justify {
  & > * {
    white-space: pre-wrap !important;
    text-align: justify !important;
  }
}

.quote {
  composes: blockStyleSpacing;
  border-inline-start-width: 3px;
  border-inline-start-style: solid;
  font-size: 18px;
  line-height: 26px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-inline-start: 18px;
  font-style: normal;
  border-left-color: $action-color;
  border-right-color: $action-color;
}

.headerOne,
.headerTwo,
.headerThree {
  composes: elementSpacing;
  font: inherit;
}

.headerOne {
  font-size: 32px;
  line-height: $headerOneHeight;
}

.headerTwo {
  font-size: 28px;
  line-height: $headerTwoHeight;
}

.headerThree {
  font-size: 22px;
  line-height: $headerThreeHeight;
}

.code,
.codeBlock {
  composes: blockStyleSpacing;
  background-color: rgba($primary-text-color-tuple, 0.06);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  line-height: 26px;
  padding: 2px 25px;
  white-space: pre-wrap;
}

.transformed {
  transform: translate3d(0, 0, 0);
}
