.left {
  /*!rtl:begin:ignore*/
  text-align: left !important;
  &>* {
    text-align: left !important;
  }
  /*!rtl:end:ignore*/
}

.center {
  /*!rtl:begin:ignore*/
  text-align: center !important;
  &>* {
    text-align: center !important;
  }
  /*!rtl:end:ignore*/
}

.right {
  /*!rtl:begin:ignore*/
  text-align: right !important;
  &>* {
    text-align: right !important;
  }
  /*!rtl:end:ignore*/
}
