@import '~wix-rich-content-common/dist/statics/styles/mixins';
@import '~wix-rich-content-common/dist/statics/styles/palette';

.sideToolbar_floatingContainer {
  position: relative;
  pointer-events: none;
  text-align: start;
}

.sideToolbar_floatingIcon {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  line-height: normal;
  text-align: center;
  color: $secondary-text-color;
  pointer-events: initial;
  fill: $primary-text-color;

  &:hover {
    color: $action-color;
    fill: $action-color;
  }
}

.sideToolbar {
  position: absolute;
  transform: translate(-50%);
  border: 1px solid #ededed;
  background: #fff;
  border-radius: 2px;
  white-space: nowrap;
  width: 320px;
  max-height: 400px;
  display: grid;
  box-shadow: 0 4px 8px 0 rgba(123, 99, 99, 0.1), 0 0 4px 0 rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  overflow: hidden;
}
