@import '~wix-rich-content-common/dist/statics/styles/mixins.scss';
@import '~wix-rich-content-common/dist/statics/styles/palette.scss';

.sideToolbarPanelWrapper {
  display: flex;
  padding: 0px 12px;
  overflow: auto;
  justify-items: center;
  justify-content: center;
  height: max-content;
  max-height: 400px;

  &.horizontalMenu {
    padding: 6px;
  }
  .pluginsWrapper {
    width: 100%;
  }

  .searchWrapper {
    position: absolute;
    width: 100%;
    align-self: start;
    background-color: white;
    z-index: 3;
    padding: 12px;
    @media only screen and (max-width: 640px) {
      padding: 0;
    }
  }

  .pluginsSectionEmptyState,
  .pluginsSection {
    color: #000000;
  }

  .pluginsSectionEmptyState {
    font-size: 14px;
    text-align: center;
    white-space: pre;
    letter-spacing: 1px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .withSearch {
    padding-top: 52px;
  }

  .pluginsSection {
    height: 28px;
    background-color: rgba(0, 0, 0, 0.06);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
  }

  .section {
    display: grid;
    grid-row-gap: 12px;
    padding-top: 12px;
    &.horizontalMenu {
      padding-top: 0px;
    }
  }

  .buttonsWrapper {
    display: grid;
    justify-items: center;
    grid-row-gap: 12px;
    grid-auto-rows: 72px;
    grid-template-columns: 98px 98px 98px;
    align-items: center;
    &.horizontalMenu {
      display: flex;
    }

    @media only screen and (max-width: 640px) {
      grid-row-gap: 8px;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 0;
    }

    .buttonWrapper {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      &.horizontalMenu {
        height: 38px;
      }
      .pluginName {
        font-size: 12px;
        line-height: 16px;
        color: #000000;
      }

      &:hover {
        background-color: rgba($action-color-fallback-tuple, 0.06);

        button:not([disabled]) span {
          color: $action-color-fallback;
        }
        button:not([disabled]) svg,
        label:not([disabled]) svg {
          @include fillWithActionColor();
        }
      }
      &:focus {
        button:not([disabled]) svg,
        label:not([disabled]) svg {
          @include fillWithActionColor();
        }
      }
    }
  }
}
